[bastion]
bastion.{{ guid }}.internal ansible_host=bastion.{{ guid }}.example.opentlc.com
[towers]
tower1.{{ guid }}.internal
[cicd]
cicd1.{{ guid }}.internal

[apps]
app1.{{ guid }}.internal
[appdbs]
appdb1.{{ guid }}.internal

[all:vars]
ansible_ssh_private_key_file={{ remote_user_sshkey | realpath }}
ansible_user={{ remote_user }}
guid={{ guid }}

[3tierapp:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -i {{ remote_user_sshkey | realpath }} -W %h:%p -q {{ remote_user }}@bastion.{{ guid }}.example.opentlc.com"'

[3tierapp:children]
towers
cicd
apps
appdbs
